.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  font-family: "sans-serif";
}

.title {
  text-align: left;
  width: 100%;
}
.title h1 {
  margin-bottom: 2rem;
}

.underLineBox {
  background: rgb(205, 90, 90);
  width: 10%;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 1rem;
  }
}
